<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>

    <!--Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title><%= htmlWebpackPlugin.options.meta.name %></title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>"/>

    <!--Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
    <link rel="manifest" href="static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.baseUrl %>static/favicons/android-chrome-192x192.png"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.meta.name %>"/>
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.meta.name %>"/>
    <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.colors.brandPrimary %>"/>
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png"/>
    <meta name="msapplication-config" content="/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.colors.brandPrimary %>"/>

    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.baseUrl %>/favicons/android-chrome-192x192.png"/>

    <!--Fonts -->
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!--Social -->

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@<%= htmlWebpackPlugin.options.meta.twitter %>"/>
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.meta.name %>"/>
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.meta.description %>"/>
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/favicons/android-chrome-192x192.png"/>
    <meta name="twitter:image:alt" content="Twitter social icon"/>

    <meta property="fb:app_id" content="<%= htmlWebpackPlugin.options.meta.facebook_app_id %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.meta.name %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.meta.description %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.baseUrl %>/"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/icon.png"/>

    <!--Scripts -->
</head>

<body>

<div id="root"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script async src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<noscript>Please <a href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> in your browser.
</noscript>
<!--[if lte IE 9]>Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a>.<![endif]-->

</body>
</html>
